.about-us {
  padding: 150px 137px 109px;

  @media (max-width: $tablet-width) {
    padding: 70px 106px 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 72px 15px 81px;
    font-size: 18px;
  }
}

.about-us h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: -0.005em;
  color: $primary-font;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    line-height: 41px;
  }
}

.about-us ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3.2%;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    column-gap: 5.2%;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;
  }
}

.about-us li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 263px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $basic-black;
  text-align: center;

  &:first-child span {
    margin-bottom: 17px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 22px;

    &:first-child span {
      margin-bottom: 19px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    margin-bottom: 43px;

    &:first-child {
      margin-bottom: 35px;
    }

    &:nth-child(3n-1) span {
      margin-bottom: 7px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-us span {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  color: $additional-color;

  @media (max-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 11px;
  }
}

.about-us p {
  margin: 0 auto;
  width: 263px;
}
