.contacts-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 90px;
  row-gap: 20px;
  padding-left: 0;
  padding-right: 20px;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding-right: 11px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 22px;
  }
}

.contacts-list a {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba($basic-black, 0.5);
  text-decoration: none;

  &:hover {
    color: rgba($basic-black, 0.7);
  }
}

.contacts-list__svg {
  margin-right: 15px;
}
