.page-footer__title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $primary-font;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.page-footer__text {
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: rgba($basic-black, 0.7);
}
