.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  padding: 150px 130px 96px;

  @media (max-width: $tablet-width) {
    padding: 69px 35px 53px;
  }

  @media (max-width: $mobile-width) {
    padding: 35px 0 51px;
  }
}
