.user-data {
  @media (max-width: $tablet-width) {
    padding-top: 70px;
    background-color: $basic-white;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.user-data form {
  @media (max-width: $tablet-width) {
    width: 321px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.user-data span {
  display: block;
  padding-top: 5px;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: $basic-white;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: $basic-black;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.user-data input {
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-left: 29px;
  padding-bottom: 9px;
  font-family: "Open Sans", "Courier", monospace;
  background-color: $basic-white;
  border: 1px solid $border-color;
  border-radius: 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: rgba($primary-font, 0.5);
  }

  &:hover {
    border-color: $additional-color;
  }

  &:focus {
    border-color: $additional-color;
  }

  @media (max-width: $tablet-width) {
    padding-top: 12px;
    padding-left: 21px;
    padding-bottom: 10px;
    letter-spacing: 0.2px;
  }
}

.user-data__contacts {
  margin-bottom: 20px;
}

.user-data button {
  width: 325px;
  padding: 16px 26px 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  font-family: inherit;
  background-color: $additional-color;
  border-radius: 6px;

  &:hover {
    background-color: rgba($additional-color, 0.8);
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 13px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}
