$basic-black: #000000;
$dark-background: #131314;
$placeholder-color: #1c1c1c;
$primary-font: #1f1f1f;
$additional-font: #48494d;
$border-color: #c9ccd4;
$light-background-100: #f6f6f6;
$light-background-200: #f6f7f9;
$basic-white: #ffffff;

$error-color: #ac0000;
$additional-color: #0ad9c6;

$tablet-width: 1024px;
$mobile-width: 767px;
